.content4{
    width: 100%;
    height: 45rem;
    background-color: rgb(19, 19, 19);
}

.card-content{
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.karusel-dot{
  width: 80%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 27, 27);
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.dot-content{
  width: 4rem;
  height: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.genel-div{
  display: flex;
  width: 90%;
  height: 28rem;
  align-items: center;
  justify-content: center;
}

.dot1,
.dot2,
.dot3{
  width: 7px;
  height: 7px;
  background-color: rgb(82, 82, 82);
  border-radius: 50px;
}

.dot-active{
  width: 7px;
  height: 7px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}


.karusel-div{
  width: 80%;
  height: 28rem;
  background-color: rgb(27, 27, 27);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.karusel-icon{
  width: 2rem;
  height: 26rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.karusel-icon button{
  width: 2rem;
  height: 26rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.karusel-icon button i:hover{
  transform: scale(1.3);
  transition: 0.3s;
  color: #cfef00;
}

.karusel-div-img-one{
  width: 45%;
  height: 26rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(amico.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.karusel-div-img-two{
  width: 45%;
  height: 26rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(amico2.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.karusel-div-img-three{
  width: 45%;
  height: 26rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(finger.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.karusel-div-one i{
  font-size: 200px;
  color: white;
}

.karusel-div-two{
  width: 45%;
  height: 26rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.karusel-div-two-two{
  width: 45%;
  height: 26rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.karusel-div-text{
  width: 80%;
  height: auto;
  font-family: 'Urbanist', sans-serif;
  color: white;
  font-size: 20px;
  text-align: justify;
}

.karusel-span{
  color: #cfef00;
}

.card-text{
  width: 100%;
  height: 13rem;
  display: flex;
  
}

.text-space{
  width: 10%;
  height: 15rem;
}

.text-text{
  width: 90%;
  height: 13rem;
  
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  color: white;
 
}

.center-text{
  width: 100%;
  height: auto;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 65px;
  font-weight: 900;
}

.big-text-four{
  color: #cfef00;
}